.container__navbar{
  height: 9vh;
  width: 25vw;
  background-color:#007bff  ;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin: 0;
  display: grid;
  align-items: center;
  justify-items: center;
}

.container__navbar-nav{
  display: flex;
  width: 23vw;
  height: 8vh;
  align-content: center;
  justify-content: space-between;
}
.logo__nav{
  height: 5vh;
}

.container__navbar-div{
  color: white;
  font-size: 1.4rem;
  padding: 10px 0;
  display: flex;
}
.container__navbar-title{
  padding: 2px;
  margin: 0;
}
.container__navbar-close{
  align-self: center;
}

.container__navbar-btnClose{
  background: none;
  border: none;
  outline: none;
}

@media only screen and (max-width: 550px) {
  .container__navbar {
    height: 9vh;
    width: 100vw;
    background-color: #007bff;
    border-radius: 0;   
}
.container__navbar-nav{
  width: 90vw;
}

}