.container__msg{
  height: 68vh;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
}

.container__msg::-webkit-scrollbar{
    width: 1vw;
    height: 1vh;
}
.container__msg::-webkit-scrollbar-track{
  background: transparent;
}

.container__msg--list {
  margin-top: 16px; 
  flex-direction: column-reverse;
  list-style: none;
  display: grid;
}

.container__msg--answer{
  display: grid;
  margin-bottom: 16px;
}

.container__btn{
  padding-left: 24px;
}

@media only screen and (max-width: 550px) {
  .container__msg{
    height: auto;
  }
  .container__btn{
    display: grid;
  }
}



