.container__msg--btn {
  width: 15vw;
  margin: 4px 16px;
  padding: 8px;
  border-radius: 12px;
  border: 1px solid rgb(209, 205, 205);
  background: #007bff;
  color: white;
  outline: none;
}

@media only screen and (max-width: 550px) {
  .container__msg--btn {
    width: 65vw;
  }
}
