.container__bodyChat{
  width: 25vw;
  height: 80vh;
  background: rgb(243, 239, 239);
  /* border: 1px solid white; */
  margin: 0 20px;
  border-radius: 25px;
  display: grid;
  grid-auto-flow: row;
}

